@model GUI.Models.DoctorViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/MainLayout.cshtml";
}

<div class="form-horizontal">
    <div>
        <section class="row tm-contact-row" style="background-color:white; position:relative; left:570px; top:-150px; width:840px; opacity:0.8;">
            <div class="col-lg-6 tm-contact-col-left">
                <dl class="d-lg-inline" style="position:relative; left:100px; top:-20px; width:3000px; color:black;">
                    <dt>
                        @Html.DisplayNameFor(model => model.IdP)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IdP)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.gender)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.gender)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Specialty)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Specialty)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Licensing)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Licensing)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.email)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group" style="position:relative; left:500px;">
                        <input type="submit" value="Delete Doctor" class="btn btn-primary tm-btn-submit rounded-0" />
                        @Html.ActionLink("Back to List", "Index", "Doctor", new { @class = "btn btn-primary tm-btn-submit rounded-0" })
                    </div>
                }
            </div>
        </section>
    </div>
</div>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}